#content{
	background-color: #dae6ea;
	max-width: 800px;
	padding: 10px;
}

#banner {
    max-width: 350;
    padding: 0px;
	margin-left: 225;
	margin-right: 225;
    margin-top: 10px;
    margin-bottom: 10px;
}

#banner img{
	height: 100px;
    padding: 0px;
    margin: 5px;
}
